<a href="https://colab.research.google.com/github/SnehhaPadmanabhan/Python-notes/blob/master/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples**

Tuples are immutable, but lists are mutable

Tuples use (), lists use []

**2 tuple methods**

1. index method

2. count method

In [1]:
t = (1,2,3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [2]:
print(t[0])
t = ('one',2,3)
print(t)
print(t[0])

1
('one', 2, 3)
one

In [5]:
t1 = ('a','a','b','b')
print(t1.count('a')) # count method
print(t1.index('a')) # first occurance is returned in case of multiple occurances
# print(t1.index('c')) # Error - element not found

2
0

In [6]:
t = ()
print(t)

t = (0,) # single item tuple, must give comma and leave the remaining empty
print(t)

t = (0, 'nil', 1.234)
print(t)

t = (0, 'nil', (1,2,3)) # nested tuple
print(t)

t = 0, 1, 2 # can create tuple without paranthesis
print(t)

t = tuple('spam') # string to tuple conversion
print(t)

print(len(t)) # print length of tuple

()
(0,)
(0, 'nil', 1.234)
(0, 'nil', (1, 2, 3))
(0, 1, 2)
('s', 'p', 'a', 'm')
4

**Slicing**

In [7]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(t[1:3])
print(t[-1])
print(t[-1:-4])

(2, 3)
9
()

In [8]:
t = ('s', 'p', 'a', 'm', 'm', 'i', 'n', 'g')
print(t[1:3])
print(t[-1])
print(t[:-1])

('p', 'a')
g
('s', 'p', 'a', 'm', 'm', 'i', 'n')

**Other operations**

In [12]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
# concatenation
print(t1 + t2)

# creating copies
print(t1 * 3)

# traversal
for x in t1: print(x, end=' ')

# manipulating
print((x**2 for x in t1)) # ???????????????????

t = tuple('spam')
print('spam' in t)
print(('s','p') in t)
print('s' in t)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
1 2 3 <generator object <genexpr> at 0x7f6115083ba0>
False
False
True